page-home {
    .retirarsublinhado {
        text-decoration: none;
    }
    .marginHome {
        margin: 8px;
    }
    .textJustify {
        text-align: justify;
        text-justify: inter-word;
    }
}