<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Fotos</ion-title>
        <ion-buttons end>
            <button ion-button *ngIf="show" (click)="show = false">
                <ion-icon ios="ios-apps-outline" md="md-apps"></ion-icon>
            </button>
            <button ion-button *ngIf="!show" (click)="show = true">
                <ion-icon ios="ios-list" md="md-list"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content text-center class="icons-basic-page">
    <ion-list *ngIf="show">
        <ion-card *ngFor="let item of fotos;">
            <ion-card-content>
                <a href="{{item.linkSocial}}" target="_blank">
                    <img src="{{item.imagem}}" alt="">

                </a>
            </ion-card-content>
        </ion-card>
    </ion-list>
    <ion-grid *ngIf="!show">
        <ion-row>
            <ion-col>
                <div *ngFor="let item of fotosImpar;">
                    <a href="{{item.linkSocial}}" target="_blank">
                        <img src="{{item.imagem}}" alt="">
                    </a>
                </div>
            </ion-col>
            <ion-col>
                <div *ngFor="let item1 of fotosPar;">
                    <a href="{{item1.linkSocial}}" target="_blank">
                        <img src="{{item1.imagem}}" alt="">
                    </a>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>